@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.popup-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  height: 100vh;
  width: 100vw;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 1000;
}

.popup-overlay .popup-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 900px;
  background: #ffffff;
  position: relative;
}

.popup-overlay .popup-wrapper .popup-image {
  width: 100%;
}

.popup-overlay .popup-wrapper .popup-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-top: 6px;
  padding: 10px;
}

.popup-overlay .popup-wrapper .popup-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  background: #ffffff;
}

.popup-overlay .popup-wrapper .popup-content h3 {
  font-family: Lora;
  font-size: 34px;
  font-weight: 400;
  line-height: 56px;
  text-align: center;
}

.popup-overlay .popup-wrapper .popup-content h2 {
  font-family: Lora;
  font-size: 36px;
  font-weight: 400;
  line-height: 56px;
  text-align: center;
  width: 300px;
  margin: 0px 70px;
}

.popup-overlay .popup-wrapper .popup-content p {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  width: 200px;
  margin-top: 20px;
}

.popup-overlay .popup-wrapper .popup-content .icon-popup,
.popup-overlay .popup-wrapper .popup-content .icon-popup-fetch {
  font-size: 36px;
  position: absolute;
  top: 0%;
  right: 2%;
}

.popup-success,
.popup-error {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  height: 100vh;
  width: 100vw;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 1000;
}

.popup-success .popup-wrapper,
.popup-error .popup-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 900px;
  background: #ffffff;
}

.popup-success .popup-wrapper h1,
.popup-error .popup-wrapper p {
  font-family: Lora;
  font-size: 32px;
  font-weight: 400;
  line-height: 56px;
  text-align: center;
  margin: 0px 20px;
}

.popup-success .popup-wrapper .popup-content,
.popup-error .popup-wrapper .popup-content {
  position: relative;
  width: 100%;
}

.popup-success .popup-wrapper .popup-content .icon-popup-fetch,
.popup-error .popup-wrapper .popup-content .icon-popup-fetch {
  font-size: 36px;
  position: absolute;
  top: -26%;
  right: 2%;
}

.popup-overlay.active,
.popup-error.action,
.popup-success.action {
  visibility: visible;
  opacity: 1;
}

/* recaptcha */
.form {
  position: relative;
}

.popup-recaptcha {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  height: 100%;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 900;
  top: 0;
  left: 0;
}

.popup-recaptcha .g-recaptcha {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-recaptcha button {
  padding: 10px 25px;
  margin-top: 10px;
  border-radius: 10px;
  background: #ffffff;
  color: #000000;
  font-family: Lora;
}

.popup-recaptcha.action {
  visibility: visible;
  opacity: 1;
}

/* Media Queries */
@media (max-width: 1400px) {
  .popup-overlay .popup-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
  }

  .popup-overlay .popup-wrapper .popup-content .icon-popup,
  .popup-overlay .popup-wrapper .popup-content .icon-popup-fetch {
    top: 0%;
    right: 4%;
  }

  .popup-overlay .popup-wrapper .popup-content h3 {
    font-size: 32px;
    font-weight: 400;
    line-height: 56px;
  }

  .popup-overlay .popup-wrapper .popup-content h2 {
    font-size: 34px;
    line-height: 52px;
    width: 300px;
    margin: 0px 40px;
  }

  .popup-success .popup-wrapper,
  .popup-error .popup-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    width: 600px;
  }
}

@media (max-width: 768px) {
  .popup-overlay .popup-wrapper {
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 380px;
  }
  .popup-overlay .popup-wrapper .popup-content .icon-popup,
  .popup-overlay .popup-wrapper .popup-content .icon-popup-fetch {
    top: 2%;
    right: 4%;
    color: rgb(232, 227, 227);
  }

  .popup-overlay .popup-wrapper .popup-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding: 24px 0;
  }

  .popup-success .popup-wrapper,
  .popup-error .popup-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 450px;
  }
}

@media (max-width: 500px) {
  .popup-overlay {
    height: 100%;
    width: 100vw;
  }

  .popup-overlay .popup-wrapper {
    width: 301px;
  }

  .popup-content {
    width: 100%;
  }

  .popup-success .popup-wrapper,
  .popup-error .popup-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 300px;
  }
}

.popup-cookie-bar {
  background: rgba(255, 255, 255, 0.7);
  position: fixed;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 500;
  bottom: 0;
}
.popup-cookie-bar .cookie-bar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  height: 76px;
}
.popup-cookie-bar .cookie-bar-wrapper .cookie-left {
  margin-left: 20px;
}
.popup-cookie-bar .cookie-bar-wrapper .cookie-left p {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 56px;
  text-align: center;
}
.popup-cookie-bar .cookie-bar-wrapper .cookie-right {
  margin-right: 20px;
}
.popup-cookie-bar .cookie-bar-wrapper .cookie-right button {
  padding: 10px 20px;
  font-weight: 800;
  cursor: pointer;
}
.popup-cookie-bar .cookie-bar-wrapper .cookie-right .btn-accept {
  color: #ffffff;
  background: #000000;
}
.popup-cookie-bar .cookie-bar-wrapper .cookie-right .btn-ignore {
  color: #000000;
  background: #ffffff;
}

.popup-cookie-bar.active {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 1500px) {
  .popup-cookie-bar .cookie-bar-wrapper {
    height: 70px;
  }
  .popup-cookie-bar .cookie-bar-wrapper .cookie-left p {
    font-size: 16px;
    font-weight: 400;
  }
  .popup-cookie-bar .cookie-bar-wrapper .cookie-right button {
    padding: 10px 20px;
    font-weight: 800;
    cursor: pointer;
  }
}
@media (max-width: 1100px) {
  .popup-cookie-bar .cookie-bar-wrapper {
    height: 70px;
  }
  .popup-cookie-bar .cookie-bar-wrapper .cookie-left p {
    font-size: 16px;
    font-weight: 400;
  }
  .popup-cookie-bar .cookie-bar-wrapper .cookie-right button {
    padding: 8px 14px;
    font-weight: 800;
    cursor: pointer;
  }
}
@media (max-width: 900px) {
  .popup-cookie-bar .cookie-bar-wrapper {
    height: 64px;
  }
  .popup-cookie-bar .cookie-bar-wrapper .cookie-left p {
    font-size: 12px;
    font-weight: 400;
  }
  .popup-cookie-bar .cookie-bar-wrapper .cookie-right button {
    padding: 6px 12px;
    font-weight: 800;
  }
}
@media (max-width: 768px) {
  .popup-cookie-bar .cookie-bar-wrapper {
    flex-direction: column;
    height: 140px;
  }
  .popup-cookie-bar .cookie-bar-wrapper .cookie-left p {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
  }
  .popup-cookie-bar .cookie-bar-wrapper .cookie-right button {
    padding: 8px 14px;
    font-weight: 800;
    margin-bottom: 20px;
  }
}
@media (max-width: 390px) {
  .popup-cookie-bar .cookie-bar-wrapper {
    flex-direction: column;
    height: 140px;
    width: 100%;
  }
  .popup-cookie-bar .cookie-bar-wrapper .cookie-left p {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
  }
  .popup-cookie-bar .cookie-bar-wrapper .cookie-right button {
    padding: 8px 14px;
    font-weight: 800;
    margin-bottom: 20px;
  }
}
